*{
    background-color: black;
    font-family: sans-serif;
}
.sidebar{
width: 20%;
display: block;
float: left;
}
.nav {
  text-align: left;
}
#active{
    font-weight: bold;
}
li a{
    font-size: 32px;
    text-decoration-line: none;    
    color: white;
}
.cuerpo{
    float: right;
    width: 80%;
    height: 100%;
}
.cuerpo div{
    display: block;
    border:1px solid white;
    float: right;
    height: 25%;
    width: auto;
    margin: auto;
}
.cuerpo p{
color: white;
font-weight: bold;
text-align: center;
margin: auto;
padding: 10%;
}
